# Include the license file
# include LICENSE.txt

# Include the data files
# recursive-include data *

# If using Python 2.6 or less, then have to include package data, even though
# it's already declared in setup.py
# include sample/*.dat

include README.md

include ReleaseNotes.md

include pyshifu/java/bin/*
include pyshifu/java/conf/*
include pyshifu/java/example/cancer-judgement/DataStore/DataSet1/*
include pyshifu/java/example/cancer-judgement/DataStore/EvalSet1/*
include pyshifu/java/example/cancer-judgement/DataStore/Full_data/*
include pyshifu/java/example/cancer-judgement/ModelStore/ModelSet1/*
include pyshifu/java/example/cancer-judgement/ModelStore/ModelSet2/*
include pyshifu/java/example/cancer-judgement/ModelStore/ModelSet3/*
include pyshifu/java/lib/*
include pyshifu/java/log4jconf/*
include pyshifu/java/scripts/*
include pyshifu/java/slfloglib/*